.container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-height: 70vh;
    margin: 25px auto 0;
    word-break: break-all;
  }
  
  .bloc-tabs {
    display: flex;
    width: 73vw;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 100%;
    background: #ef3e36;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 1.2rem;

  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: #282c34;
    color: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #FBAE3C;
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
    
  }
  .content {
    
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1rem);
    border: 0.2rem solid #FBAE3C;
    color: white;
    border-top: 0px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 20px;
    width: 100%;
    max-height: 90%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  
  