.faq-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-height: 100%;
    margin: 25px auto 0;
    word-break: break-all;
  }
  .faq-blocs {
    display: flex;
    width: 100%;
  }

  .faq{
     
    padding: 10px;
    text-align: center;
    width: 100%;
    background: none;
    cursor: pointer;
    border-bottom: 1px solid white;
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 1.2rem;
    color: white;
    
  }

  .active-faq  {
    color: #ef3e36;
    border-bottom: 1px solid #ef3e36;
    transition: ease-in-out 0.1s;
  }